*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(87, 110, 116);
}

/*Header*/
.header{
    width: 1000px;
    align-items: center;  
    margin-left: 265px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.header--nav{
    width: 800px;
    margin-left: 100px;
}

.nav__list{
    display: flex;
    list-style: none;
    font-size: 20px;
    margin-left: 130px;
}

.nav__link{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-right:1px solid;   
    border-left: 1px solid;  
    border-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.nav__link:hover{
    background: rgb(180, 180, 180);
    color: white;
    border-color: rgb(172, 164, 164);
}

.header__name{
    margin-top: 60px;
    margin-left: 175px;
    font-size: 50px;
}
/*Header end*/

/*About*/
.sectionAbout{
    width: 1000px;
    height: 200px;
    margin-left: 260px;    
}

.sectionAbout--articleAbout{
    background: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 10px;
    height: 168px;
    clip-path: circle(10% at 90% 40%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.sectionAbout--articleAbout:hover{
    clip-path: circle(75%);
    background: rgb(178, 206, 218);
}

.articleAbout__span{
    float: right;
    font-size: 30px;
    margin-right: 75px;
    margin-top: 45px;
    color: rgb(255, 255, 255);
}

.sectionAbout--articleAbout:hover .articleAbout__span i{
    color: rgb(255, 255,255,0);
}

.articleAbout__title{
    font-size: 30px;
}

.articleAbout__text{
    font-size: 15px;
    text-align: center
}
/*About end*/

/*Footer*/
.footer{
    margin-top: 30px;
    background: rgb(65, 80, 83);;
}

.footer__title{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.footer__list{
    list-style: none;
    margin-left: 20px;
}

.footer__item{
    width: 220px;
    align-items: center;
    margin-top: 1px
}

.footer__item i{
    font-size: 30px;
    margin-right: 10px
}

.footer__link{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 4px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
}

.footer__link:hover{
    background: rgb(180, 180, 180);
    color: white;
    border-color: rgb(172, 164, 164);
}

.footer__rights{
    margin-top: 20px;
    margin-left: 525px;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
/*Footer end*/