* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #576e74;
}

/*Header*/
.header {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.header--nav {
  width: 100%;
}

.header--nav__list {
  width: 40%;
  display: flex;
  list-style: none;
  font-size: 20px;
  margin-left: 30%;
}

.header--nav__link {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: transparent;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.header--nav__link:hover {
  background: #b2ceda;
  color: white;
  border-color: #aca4a4;
}

.header__name {
  margin-top: 60px;
  margin-left: 27%;
  font-size: 50px;
}

/*Header end*/

/*section*/
.section {
  width: 66%;
  margin-left: 17%;
}

/*About*/
.section--articleAbout {
  background: black;
  padding: 1em;
  border-radius: 10px;
  height: 168px;
  clip-path: circle(10% at 90% 40%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
  
.section--articleAbout:hover {
  clip-path: circle(75%);
  background: #93bdaf;
}
  
.section--articleAbout__span {
  float: right;
  font-size: 25px;
  margin-right: 3%;
  margin-top: 50px;
  color: white;
}
  
.section--articleAbout:hover .section--articleAbout__span {
  color: transparent;
}
  
.section--articleAbout__title {
  font-size: 30px;
}
  
.section--articleAbout__text {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
/*About end*/

/*Skills*/
.section--articleSkills {
  background: white;
  margin-top: 20px;
  padding: 1em;
  border-radius: 10px;
  height: 370px;
  clip-path: circle(10% at 10% 20%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.section--articleSkills:hover {
  clip-path: circle(75%);
  background: #93a9bd;
}

.section--articleSkills__span {
  float: left;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 45px;
  color: black;
}

.section--articleSkills:hover .section--articleSkills__span {
  color: transparent;
}

.section--articleSkills__list {
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
}

.section--articleSkills__item {
  margin: 2px;
  padding: 10px;
  clip-path: inset(0% 0% 37% 0%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.section--articleSkills__item:hover {
  clip-path: inset(0% 0% 0% 0%);
}

.section--articleSkills__item i {
  font-size: 60px;
}

.section--articleSkills__item i:hover i {
  color: #201919;
}

.section--articleSkills__text {
  margin-top: 15px;
}
/*Skills end*/

/*Projects*/
.section--articleProjects {
  background: black;
  margin-top: 20px;
  padding: 1em;
  border-radius: 10px;
  height: 890px;
  clip-path: circle(10% at 90% 11%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.section--articleProjects:hover {
  clip-path: circle(75%);
  background: #c4c4c4;
}

.section--articleProjects__span {
  float: right;
  font-size: 25px;
  margin-right: 35px;
  margin-top: 70px;
  color: white;
}

.section--articleProjects:hover .section--articleProjects__span {
  color: transparent;
}

.section--articleProjects--project {
  background: #c4c4c4;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 90%;
  padding: 1em;
  margin-top: 10px;
  clip-path: inset(0% 65% 0% 0%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.section--articleProjects--project:hover {
  clip-path: inset(0% 0% 0% 0%);
  background: gray;
}

.section--articleProjects--project__title {
  font-size: 120%;
}

.section--articleProjects--project__img {
  width: 63%;
}

.section--articleProjects--project__text {
  font-size: 15px;
}
/*Projects end*/

/*section end*/

/*Footer*/
.footer {
  margin-top: 30px;
  background: #415053;
}

.footer__title {
  font-size: 25px;
  padding-left: 46%;
  padding-top: 20px;
}

.footer__list {
  display: flex;
  list-style: none;
  margin-left: 27%;
}

.footer__item {
  width: 220px;
  align-items: center;
  margin-top: 20px;
  clip-path: inset(0% 87% 0% 0%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.footer__item:hover {
  clip-path: inset(0% 0% 0% 0%);
}

.footer__item i{
  font-size: 30px;
  margin-right: 10px;
}

.footer__link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 4px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
}

.footer__link:hover {
  color: white;
}

.footer__rights {
  margin-top: 70px;
  margin-left: 34%;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
/*Footer end*/


@media screen and (max-width: 775px){
  .header--nav__list{
      margin-left: 10%;
  }

  .header__name{
      margin-left: 32%;
      font-size: 30px;
      width: 450px;
  }
  .section{
      width: 140%;
  }
  .section--articleAbout{
      width: 90%;
  }
  .section--articleAbout__span{
      font-size: 10px;
      margin-top: 12%;
      margin-right: 10px;
  }

  .section--articleAbout__text{
    font-size: 11px;
  }

  .section--articleSkills{
    height: 390px;
  }

  .section--articleSkills__list{
      float: left;
      font-size: 15px;
      margin-left: 4%;
      margin-top: 55px;
      color: rgb(0, 0, 0);
  }

  .section--articleSkills__span{
    margin-left: 3%;
    margin-top: 53px;
    font-size: 15px;
  }

  .section--articleProjects{
    height: 580px;
  }

  .section--articleProjects__span{
      font-size: 15px;
      margin-right: 8px;
      margin-top: 45px;
  }

  .section--articleProjects--project__text{
    font-size: 11px;
  }

  .footer{
      width: 660px;
  }

  .footer__list{
      display: block;
  }

  .footer__rights{
      margin-left: 70px;
  }
}