/*Footer*/
.footer{
    margin-top: 30px;
    background: $footerBackground;

    &__title{
        font-size: 25px;
        padding-left: 46%;
        padding-top: 20px;
    }

    &__list{
        display: flex;
        list-style: none;
        margin-left: 27%;
    }

    &__item{
        width: 220px;
        align-items: center;
        margin-top: 20px;
        clip-path: inset(0% 87% 0% 0%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        &:hover{
            clip-path: inset(0% 0% 0% 0%);
        }

        &i{
            font-size: 30px;
            margin-right: 10px
        }
    }

    &__link{
        text-decoration: none;
        font-size: 20px;
        color: $black;
        padding: 4px;
        border: 1px solid;
        border-color: transparent;
        border-radius: 5px;

        &:hover{
            color: $white;
        }
    }

    &__rights{
        margin-top: 70px;
        margin-left: 34%;
        font-family: monospace;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
    }
}
/*Footer end*/