$pageBackground: #576e74;
$black: black;
$navHover: #b2ceda;
$white: white;
$borderNavHover: #aca4a4;
$articleAboutHover: #93bdaf;
$articleSkillsHover: #93a9bd;
$articleSkillsHoveri: #201919;
$transparent: transparent;
$articleProjectsHover: #c4c4c4;
$articleProjectsProjectHover: gray;
$footerBackground: #415053;